{% extends 'base.html' %}
{% load static %}
{% block title %}Chang Password{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset.css' %}">
{% endblock %}
{% block content %}
    <form class="change_password_form" action="" method="post">
    <h4 class="text-white">Change Password</h4>
        {% csrf_token %}
        {{ form }}
        <div class="change_password_button">
            <input class="btn btn-light fw-bold fs-5" type="submit" value="Change Password">
            <a href="{% url  'accounts:user_login' %}" class="btn btn-light fw-bold fs-5">Cancel</a>
        </div>
    </form>
{% endblock %}